#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo-50{
    margin: auto;
}

#title{
    margin: 10% auto 50% auto;
}
.button {
    color: black;
    font-weight: bold;
    border: 1px solid black; border-radius: 5%;
    padding: 0.5rem 1rem; margin-bottom: 20%;
}
.button:hover {
    color: white;
    background-color: black;
}
a{
    text-decoration: none;
    width: 100%;
}